In [2]:
import pandas as pd

In [3]:
ls

2016 School Explorer.csv
Bootcamp Prep Student Enrollment Agreement New York_Paul Y.pdf
Flatiron_School_Stuff/
Resumes/
Rolling ball/
crypto-markets.csv*
loan approval.pdf
nyc-mhtn-ds-071519-lectures/

In [7]:
df = pd.read_csv('2016 School Explorer.csv')

In [12]:
df.head()

,Adjusted Grade,New?,Other Location Code in LCGMS,School Name,SED Code,Location Code,District,Latitude,Longitude,Address (Full),...,Grade 8 Math - All Students Tested,Grade 8 Math 4s - All Students,Grade 8 Math 4s - American Indian or Alaska Native,Grade 8 Math 4s - Black or African American,Grade 8 Math 4s - Hispanic or Latino,Grade 8 Math 4s - Asian or Pacific Islander,Grade 8 Math 4s - White,Grade 8 Math 4s - Multiracial,Grade 8 Math 4s - Limited English Proficient,Grade 8 Math 4s - Economically Disadvantaged
0,NaN,NaN,NaN,P.S. 015 ROBERTO CLEMENTE,310100010015,01M015,1,40.721834,-73.978766,"333 E 4TH ST NEW YORK, NY 10009",...,0,0,0,0,0,0,0,0,0,0
1,NaN,NaN,NaN,P.S. 019 ASHER LEVY,310100010019,01M019,1,40.729892,-73.984231,"185 1ST AVE NEW YORK, NY 10003",...,0,0,0,0,0,0,0,0,0,0
2,NaN,NaN,NaN,P.S. 020 ANNA SILVER,310100010020,01M020,1,40.721274,-73.986315,"166 ESSEX ST NEW YORK, NY 10002",...,0,0,0,0,0,0,0,0,0,0
3,NaN,NaN,NaN,P.S. 034 FRANKLIN D. ROOSEVELT,310100010034,01M034,1,40.726147,-73.975043,"730 E 12TH ST NEW YORK, NY 10009",...,48,1,0,0,0,0,0,0,0,0
4,NaN,NaN,NaN,THE STAR ACADEMY - P.S.63,310100010063,01M063,1,40.724404,-73.986360,"121 E 3RD ST NEW YORK, NY 10009",...,0,0,0,0,0,0,0,0,0,0

In [10]:
list(df.columns)

['Adjusted Grade',
 'New?',
 'Other Location Code in LCGMS',
 'School Name',
 'SED Code',
 'Location Code',
 'District',
 'Latitude',
 'Longitude',
 'Address (Full)',
 'City',
 'Zip',
 'Grades',
 'Grade Low',
 'Grade High',
 'Community School?',
 'Economic Need Index',
 'School Income Estimate',
 'Percent ELL',
 'Percent Asian',
 'Percent Black',
 'Percent Hispanic',
 'Percent Black / Hispanic',
 'Percent White',
 'Student Attendance Rate',
 'Percent of Students Chronically Absent',
 'Rigorous Instruction %',
 'Rigorous Instruction Rating',
 'Collaborative Teachers %',
 'Collaborative Teachers Rating',
 'Supportive Environment %',
 'Supportive Environment Rating',
 'Effective School Leadership %',
 'Effective School Leadership Rating',
 'Strong Family-Community Ties %',
 'Strong Family-Community Ties Rating',
 'Trust %',
 'Trust Rating',
 'Student Achievement Rating',
 'Average ELA Proficiency',
 'Average Math Proficiency',
 'Grade 3 ELA - All Students Tested',
 'Grade 3 ELA 4s - All Students',
 'Grade 3 ELA 4s - American Indian or Alaska Native',
 'Grade 3 ELA 4s - Black or African American',
 'Grade 3 ELA 4s - Hispanic or Latino',
 'Grade 3 ELA 4s - Asian or Pacific Islander',
 'Grade 3 ELA 4s - White',
 'Grade 3 ELA 4s - Multiracial',
 'Grade 3 ELA 4s - Limited English Proficient',
 'Grade 3 ELA 4s - Economically Disadvantaged',
 'Grade 3 Math - All Students tested',
 'Grade 3 Math 4s - All Students',
 'Grade 3 Math 4s - American Indian or Alaska Native',
 'Grade 3 Math 4s - Black or African American',
 'Grade 3 Math 4s - Hispanic or Latino',
 'Grade 3 Math 4s - Asian or Pacific Islander',
 'Grade 3 Math 4s - White',
 'Grade 3 Math 4s - Multiracial',
 'Grade 3 Math 4s - Limited English Proficient',
 'Grade 3 Math 4s - Economically Disadvantaged',
 'Grade 4 ELA - All Students Tested',
 'Grade 4 ELA 4s - All Students',
 'Grade 4 ELA 4s - American Indian or Alaska Native',
 'Grade 4 ELA 4s - Black or African American',
 'Grade 4 ELA 4s - Hispanic or Latino',
 'Grade 4 ELA 4s - Asian or Pacific Islander',
 'Grade 4 ELA 4s - White',
 'Grade 4 ELA 4s - Multiracial',
 'Grade 4 ELA 4s - Limited English Proficient',
 'Grade 4 ELA 4s - Economically Disadvantaged',
 'Grade 4 Math - All Students Tested',
 'Grade 4 Math 4s - All Students',
 'Grade 4 Math 4s - American Indian or Alaska Native',
 'Grade 4 Math 4s - Black or African American',
 'Grade 4 Math 4s - Hispanic or Latino',
 'Grade 4 Math 4s - Asian or Pacific Islander',
 'Grade 4 Math 4s - White',
 'Grade 4 Math 4s - Multiracial',
 'Grade 4 Math 4s - Limited English Proficient',
 'Grade 4 Math 4s - Economically Disadvantaged',
 'Grade 5 ELA - All Students Tested',
 'Grade 5 ELA 4s - All Students',
 'Grade 5 ELA 4s - American Indian or Alaska Native',
 'Grade 5 ELA 4s - Black or African American',
 'Grade 5 ELA 4s - Hispanic or Latino',
 'Grade 5 ELA 4s - Asian or Pacific Islander',
 'Grade 5 ELA 4s - White',
 'Grade 5 ELA 4s - Multiracial',
 'Grade 5 ELA 4s - Limited English Proficient',
 'Grade 5 ELA 4s - Economically Disadvantaged',
 'Grade 5 Math - All Students Tested',
 'Grade 5 Math 4s - All Students',
 'Grade 5 Math 4s - American Indian or Alaska Native',
 'Grade 5 Math 4s - Black or African American',
 'Grade 5 Math 4s - Hispanic or Latino',
 'Grade 5 Math 4s - Asian or Pacific Islander',
 'Grade 5 Math 4s - White',
 'Grade 5 Math 4s - Multiracial',
 'Grade 5 Math 4s - Limited English Proficient',
 'Grade 5 Math 4s - Economically Disadvantaged',
 'Grade 6 ELA - All Students Tested',
 'Grade 6 ELA 4s - All Students',
 'Grade 6 ELA 4s - American Indian or Alaska Native',
 'Grade 6 ELA 4s - Black or African American',
 'Grade 6 ELA 4s - Hispanic or Latino',
 'Grade 6 ELA 4s - Asian or Pacific Islander',
 'Grade 6 ELA 4s - White',
 'Grade 6 ELA 4s - Multiracial',
 'Grade 6 ELA 4s - Limited English Proficient',
 'Grade 6 ELA 4s - Economically Disadvantaged',
 'Grade 6 Math - All Students Tested',
 'Grade 6 Math 4s - All Students',
 'Grade 6 Math 4s - American Indian or Alaska Native',
 'Grade 6 Math 4s - Black or African American',
 'Grade 6 Math 4s - Hispanic or Latino',
 'Grade 6 Math 4s - Asian or Pacific Islander',
 'Grade 6 Math 4s - White',
 'Grade 6 Math 4s - Multiracial',
 'Grade 6 Math 4s - Limited English Proficient',
 'Grade 6 Math 4s - Economically Disadvantaged',
 'Grade 7 ELA - All Students Tested',
 'Grade 7 ELA 4s - All Students',
 'Grade 7 ELA 4s - American Indian or Alaska Native',
 'Grade 7 ELA 4s - Black or African American',
 'Grade 7 ELA 4s - Hispanic or Latino',
 'Grade 7 ELA 4s - Asian or Pacific Islander',
 'Grade 7 ELA 4s - White',
 'Grade 7 ELA 4s - Multiracial',
 'Grade 7 ELA 4s - Limited English Proficient',
 'Grade 7 ELA 4s - Economically Disadvantaged',
 'Grade 7 Math - All Students Tested',
 'Grade 7 Math 4s - All Students',
 'Grade 7 Math 4s - American Indian or Alaska Native',
 'Grade 7 Math 4s - Black or African American',
 'Grade 7 Math 4s - Hispanic or Latino',
 'Grade 7 Math 4s - Asian or Pacific Islander',
 'Grade 7 Math 4s - White',
 'Grade 7 Math 4s - Multiracial',
 'Grade 7 Math 4s - Limited English Proficient',
 'Grade 7 Math 4s - Economically Disadvantaged',
 'Grade 8 ELA - All Students Tested',
 'Grade 8 ELA 4s - All Students',
 'Grade 8 ELA 4s - American Indian or Alaska Native',
 'Grade 8 ELA 4s - Black or African American',
 'Grade 8 ELA 4s - Hispanic or Latino',
 'Grade 8 ELA 4s - Asian or Pacific Islander',
 'Grade 8 ELA 4s - White',
 'Grade 8 ELA 4s - Multiracial',
 'Grade 8 ELA 4s - Limited English Proficient',
 'Grade 8 ELA 4s - Economically Disadvantaged',
 'Grade 8 Math - All Students Tested',
 'Grade 8 Math 4s - All Students',
 'Grade 8 Math 4s - American Indian or Alaska Native',
 'Grade 8 Math 4s - Black or African American',
 'Grade 8 Math 4s - Hispanic or Latino',
 'Grade 8 Math 4s - Asian or Pacific Islander',
 'Grade 8 Math 4s - White',
 'Grade 8 Math 4s - Multiracial',
 'Grade 8 Math 4s - Limited English Proficient',
 'Grade 8 Math 4s - Economically Disadvantaged']